<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Resto.My.MySettings.restoConnectionString" connectionString="Data Source=DESKTOP-U0L3NF7\SQLEXPRESS;Initial Catalog=resto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Resto.My.MySettings.restoranConnectionString" connectionString="Data Source=DESKTOP-U0L3NF7\SQLEXPRESS;Initial Catalog=restoran;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>